<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
  <p>Gilles Lasnier is currently Head of the Research <small>&amp;</small> Development at <a href="http://www.ciele.fr/langue-english-1.html">CIELE Ing&eacute;nierie</a>. <a href="http://www.ciele.fr/langue-english-1.html">CIELE</a> is an active startup focusing on embedded solutions based on <strong style="text-decoration:underline;">SoC FPGA and hybrid SoC FPGA/ARM architecture</strong>. <a href="http://www.ciele.fr/langue-english-1.html">CIELE</a> is located in Paris, France.</p>

  <p>In 2013, he was enrolled as post-doctoral researcher in the <a href="http://www.irit.fr/torrents/toast/toast.php">Time-Oriented criticAl SysTems (TOAST)</a> project at the <a href="http://www.isae.fr/en">Institute for Space and Aeronautics Engineering (ISAE)</a> in Toulouse, France.</p>

  <p>He holds a PhD (2012) from the <a href="http://www.telecom-paristech.fr/eng/training-innovating-in-a-digital-world.html">Telecom ParisTech</a> engineering school and a Master degree in Computer Science from the <a href="http://www.upmc.fr/en/index.html">University of Pierre et Marie Curie (UPMC) - Paris VI</a>.</p>

  <p>His research interests are focused on model-driven engineering and programming languages to support the design of high-integrity systems, involving realtime embedded distributed systems and cyber-physical systems. In his research, Gilles applies and develops techniques and design methods around component-based software architecture, model transformation, code generation, co-simulation and model-based analysis.</p>
</div><!--//summary-->
</section><!--//section-->
