<div class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  <div class="item">
    <h4 class="degree">PhD in Safety-critical Systems Engineering</h4>
    <h5 class="meta">Telecom ParisTech</h5>
    <div class="time">2008 - 2012</div>
  </div><!--//item-->

  <div class="item">
    <h4 class="degree">MSc in Distributed Realtime and Embedded Systems</h4>
    <h5 class="meta">University of Paris 6 (UPMC)</h5>
    <div class="time">2006 - 2008</div>
  </div><!--//item-->

  <div class="item">
    <h4 class="degree">BSc in Computer Science Applied to Mathematics</h4>
    <h5 class="meta">University of La Reunion</h5>
    <div class="time">2003 - 2006</div>
  </div><!--//item-->
</div><!--//education-container-->
