<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Head of Research &amp Development</h3>
        <div class="time">2014 - Present</div>
      </div><!--//upper-row-->
      <div class="company">CIELE Ingenierie, Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Visiting researcher</h3>
        <div class="time">2013</div>
      </div><!--//upper-row-->
      <div class="company">University of California Berkeley (UCB), Berkeley</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Postdoctoral researcher</h3>
        <div class="time">2012 - 2013</div>
      </div><!--//upper-row-->
      <div class="company">ISAE/SupAero - ONERA, Toulouse</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Visiting researcher</h3>
        <div class="time">2010</div>
      </div><!--//upper-row-->
      <div class="company">Software Engineering Institute (SEI) and Carnegie Mellon University (CMU), Pittsburgh</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">PhD</h3>
        <div class="time">2008 - 2012</div>
      </div><!--//upper-row-->
      <div class="company">Telecom ParisTech (ex ENST), Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Noveocare (startup)</h3>
        <div class="time">2010 - 2011</div>
      </div><!--//upper-row-->
      <div class="company">ParisTech Entrepeneurs, Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
  </div><!--//item-->

</section><!--//section-->
