<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Industrial Projects</h2>
  <div class="intro">
    <p>I have or I'm contributing to industrial projects involved in different domains:</p>
  </div><!--//intro-->
  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Marine engineering</a></span><!-- - <span class="project-tagline">tbc...</span> -->
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Aeronautical engineering</a></span><!-- - <span class="project-tagline">private.</span> -->
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Manufacturing industry</a></span> <!-- - <span class="project-tagline">private.</span> -->
  </div><!--//item-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">ADES</a></span> - <span class="project-tagline">An Industrial tool platform to automatize the development, the deployment and the validation of distributed realtime and embedded systems.</span>
  </div><!--//item-->
</section><!--//section-->
