<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Academic Projects</h2>
  <div class="intro">
    <p>I'm or I have contributed to the following open-source projects:</p>
  </div><!--//intro-->
  <div class="item">
    <span class="project-title"><a href="http://ptolemy.eecs.berkeley.edu/ptolemyII" target="_blank">PtolemyII</a></span> - <span class="project-tagline">An open source modeling and simulation tool for heterogeneous systems, developed by the <a href="http://chess.eecs.berkeley.edu/">CHESS team</a> at <a href="http://www.berkeley.edu/index.html">UC-Berkeley</a>. I have implemented the Ptolemy-HLA/CERTI co-simulation tool and the AFDX network actors (based on quantity manager and decorators).</span>
  </div><!--//item-->
  <div class="item">
    <span class="project-title"><a href="http://penelope.enst.fr/aadl/wiki/Projects" target="_blank">AADL Behavior annex compiler</a></span> - <span class="project-tagline">I have implemented the AADL behavior annex in <a href="http://www.aadl.info/aadl/currentsite/tool/osate.html">Osate2</a>.</span>
  </div><!--//item-->
  <div class="item">
    <span class="project-title"><a href="" target="_blank">AADL-HI</a></span> - <span class="project-tagline">An AADL model-based refinement toolset to validate and generate high-integrity systems. I have developed this prototype during my Ph.D. thesis at TELECOM ParisTech, using <a href="http://www.aadl.info/aadl/currentsite/tool/osate.html">Osate2</a> as front-end and the <a href="http://www.eclipse.org/atl/">ATL framework</a> as model-based transformation technologies (rules description, engine, etc). For recent and similar works you can consult the <a href="http://penelope.enst.fr/aadl/wiki/Projects">RAMSES tool</a>.</span>
  </div><!--//item-->
  <div class="item">
    <span class="project-title"><a href="http://www.aadl.info/aadl/currentsite/tool/osate.html" target="_blank">Osate2</a></span> - <span class="project-tagline">An open source toolset to model and analyze distributed and realtime systems from AADL models, developed by the <a href="http://www.sei.cmu.edu/">Software Engineering Institute</a>. I have improved the annex extension mechanism, and integrated the AADL Behavior annex</span>
  </div><!--//item-->
  <div class="item">
    <span class="project-title"><a href="https://github.com/yoogx/polyorb-hi-ada" target="_blank">PolyORB-HI-Ada</a></span> - <span class="project-tagline">A dedicated middleware targeting high-integrity applications and supporting AADL components.</span>
  </div><!--//item-->
  <div class="item">
    <span class="project-title"><a href="http://aadl.enst.fr/ocarina" target="_blank">Ocarina</a></span> - <span class="project-tagline">A compiler for the AADL language and associated model processor (code generation, gateway to model checkers, scheduling analysis tools, etc). I have extended the compiler to support AADLv2 language.</span>
  </div><!--//item-->
</section><!--//section-->
