<section class="skills-section section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
  <div class="skillset">
    <div class="item">
      <h3 class="level-title">Model-based Engineering</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="98%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
      <h3 class="level-title">Embedded systems development</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="98%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

        <div class="item">
      <h3 class="level-title">Safety critical &amp; Distributed systems development</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="98%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
      <h3 class="level-title">Team leading/managing</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
      <h3 class="level-title">Project management</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="85%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
      <h3 class="level-title">Software quality</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="80%">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->

  </div><!--//skillset-->
</section><!--//skills-section-->
