<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Teaching activities</h2>

    <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Embedded Linux</h3>
        <div class="time">2015 - Present</div>
      </div><!--//upper-row-->
      <div class="company">Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Embbedded system development</h3>
        <div class="time">2008 - Present</div>
      </div><!--//upper-row-->
      <div class="company">Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->

    <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Model-based Distributed Realtime and Embbedded system Engineering</h3>
        <div class="time">2008 - Present</div>
      </div><!--//upper-row-->
      <div class="company">Paris</div>
    </div><!--//meta-->
    <!--<div class="details">
      <p>tbc...</p>
    </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
